/* =======================
 Google Fonts | Poppins
======================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* =======================
Utilities & Global CSS
======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-blue: #140e53;
  --main-pink: #e02c6d;
  --main-white: #ffffff;
  --main-heading: #18191f;
  --secondary-heading: #0a0826;
  --main-text: #6c6c6c;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
img {
  width: 100%;
  object-fit: cover;
}
.container {
  width: 1160px;
  max-width: 90%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pr-3 {
  padding-right: 3%;
}
.flex-basis-50 {
  flex-basis: 50%;
}
.btn {
  display: inline-block;
  padding: 10px 24px;
  background: var(--main-pink);
  font-weight: 500;
  font-size: 16px;
  color: var(--main-white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.btn-icon {
  margin-left: 8px;
}
.btn-icon i {
  font-size: 16px;
}
.btn:hover .btn-icon i {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}
iframe {
  width: 100%;
  height: 315px;
}

/* =======================
Header Start
======================= */
header {
  background-image: url(../images/banner-image.png);
  background-position: top;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 9999999;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a img {
  width: 23%;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 12px;
}
nav ul li a {
  font-weight: 500;
  font-size: 18px;
  color: var(--main-white);
}
.toggle-menu {
  color: var(--main-white);
  font-size: 24px;
  display: none;
}
/* =======================
Header End
======================= */

/* =======================
Main Start
======================= */

/* ===== Banner Section ===== */
.banner-section {
  padding: 150px 0;
  background-image: url(../images/banner-image.png);
  background-size: cover;
  position: relative;
}
.banner-text h2 {
  font-size: 64px;
  color: var(--main-white);
  font-weight: 700;
  margin-bottom: 27px;
}
.footer-img img {
  position: absolute;
  bottom: 0;
  left: -5%;
  width: 20%;
}
.banner-section:hover .banner-image {
  animation: float 2.2s ease-in-out infinite;
  -webkit-animation: float 2.2s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* ===== Player Section ===== */
.player-section {
  padding-top: 70px;
}
.players-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 27px 30px;
}
.player {
  padding: 15px;
  background: var(--main-white);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.player-details {
  margin: 16px 0 10px;
}
.player-details h2 {
  font-weight: 700;
  font-size: 28px;
  color: var(--main-heading);
}
.player-details p {
  font-size: 16px;
  font-weight: 400;
  color: var(--main-text);
}

/* ===== Highlighted Section ===== */
.highlighted-section {
  padding: 100px 0;
}
.highlighted-text h2 {
  color: var(--secondary-heading);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 8px;
}
.highlighted-text p {
  font-size: 16px;
  color: var(--main-text);
  margin-bottom: 24px;
}

/* ===== Video Section ===== */
.video-section {
  padding: 90px 0;
}
.video-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.video h2 {
  text-align: center;
  font-size: 20px;
  color: var(--main-heading);
  margin: 8px 0;
}
.video {
  padding: 20px;
  background: var(--main-white);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/* ===== Latest News Section ===== */
.latest-news-section {
  padding: 100px 0;
}
.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.news {
  padding: 13px;
  background: var(--main-white);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.news span {
  display: inline-block;
  margin: 10px 0 12px;
  font-size: 15px;
  color: var(--main-text);
}
.news a {
  display: block;
  font-size: 20px;
  color: var(--main-heading);
  font-weight: 700;
}
.news:hover.news a {
  color: var(--main-blue);
}

/* ===== Gallery Section ===== */
.gallery-section {
  padding: 100px 0;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  grid-auto-flow: row dense;
}
.gallery-1 {
  grid-column: span 2;
  height: 92%;
}

/* =======================
Main End
======================= */

/* =======================
Footer Start
======================= */
footer {
  background-image: url(../images/banner-image.png);
  background-size: cover;
  padding: 90px 0 60px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  width: 30%;
  margin-bottom: 20px;
}
.social-icon {
  display: flex;
  margin-bottom: 20px;
}
.social-icon a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--main-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.social-icon a i {
  font-size: 17px;
  color: var(--main-blue);
}
.social-icon a:hover {
  background: var(--main-blue);
}
.social-icon a:hover i {
  color: var(--main-white);
}
.copyright p {
  font-weight: 400;
  font-size: 18px;
  color: var(--main-white);
}
/* =======================
Footer End
======================= */ ;
